.not-found-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;

  h1 {
    font-size: 6rem;
    color: darken(#30aabc, 10%);
  }

  p {
    color: #30aabc;
    font-size: 1.5rem;
  }
}
